<!-- wp:template-part {"slug":"starke-header","area":"header"} /-->

<!-- wp:template-part {"slug":"starke3dcontainer","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:woocommerce/store-notices /-->

<!-- wp:shortcode -->
[custom_related_moldings]
<!-- /wp:shortcode --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"starke-footer","area":"footer"} /-->