<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header-v","area":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"className":"swt-block-page-banner-group","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|x-large"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"shadow":"var:preset|shadow|natural"},"layout":{"type":"default"}} -->
<div class="wp-block-group swt-block-page-banner-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--x-large);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":false,"minHeight":435,"minHeightUnit":"px","contentPosition":"bottom center","isDark":false,"layout":{"type":"default"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center" style="min-height:435px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"className":"swt-block-page-title page-title-extra","style":{"spacing":{"padding":{"left":"var:preset|spacing|small","right":"var:preset|spacing|small","top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small"},"margin":{"top":"0px","left":"0%","right":"0%","bottom":"var:preset|spacing|x-small"}},"border":{"radius":"5px","width":"2px"},"layout":{"selfStretch":"fit","flexSize":null},"typography":{"fontSize":"61px","fontStyle":"normal","fontWeight":"700"}},"backgroundColor":"black","textColor":"white","fontFamily":"lora","borderColor":"neutral"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","wideSize":"100%","contentSize":"100%","justifyContent":"center"},"UAGDisplayConditions":"none"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->